.App-ul {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction:column;
  text-align: center;
}
.App-ul-input{
  min-width: 450px;
  min-height: 50px;
  font-size: 26px;
  opacity: 0.5;
}
.App-ul h1 {
  color: firebrick;
  opacity: 0.5;
  font-size: 40px;
}
